<div class="card">          <!-- Esto crea una carpeta (Como un sobre, un rectangulo)-->
    <div class="card-body">
        <h1>About</h1>
        <p>My name is Marco López and I am studyng telecommunication engineering. In my spare time i love to learn new technologies, so I have realised this proyect. With it you can sign up and create, edit, delete and take a look at your notes whenever and wherever you want. Thanks for the visit and thanks to Fazt who made this possible.</p>
    </div>
</div>