<div class="jumbotron mt-4">                                                        <!-- Jumbotron es simplemente un recuadro muy grande, mt-4 es el margen top. (Boostrap) -->
    <h1 class = "display-4">Save your thoughts with NotesCloud. </h1>                       <!-- El display es para que se vea aun mas grande. (Boostrap) -->
    <p class="lead"> Keep your notes wherever you go!</p>
    <hr class="my-4">                                                               <!-- Esto es una linea divisora de margen 4 por arriba y abajo -->
    <p>Hi, my name is Marco López and this is my proyect. I've realised it thanks to Fazt, learning a lot in the process. I left his web below. Thank your for visit and hope new proyects soon!</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>         <!-- Con la clase btn alojamos el enlace en un boton. El btn-primary lo pone azul tipico y el btn-lg lo pone más grande. -->  
</div>  